@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body{
  padding-top: 50px;
}

nav {
  vertical-align: 20px;

}

.bg {
  width: 100%;
  height: 100vh;
  background-image: url('https://keep-it.jp/mag/storage-info/img/training_01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}


.sign {
  padding-top: 50px;
  padding-left: 200px;
}

.space {
  margin-top: 50px;
}

#logo {
  font-weight:bold;
  font-size: 30px;
  font-style: italic;
  color: red;
}
.container {
  height: 30px;
}

header {
  height: 10px;
}


// 入力フォーム
.form-control {
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.format {
  font-size: 30px;
  margin-top: 10px;
}

// submit更新ボタン
.btn-signup {
  display: inline-block;
  width: 300px !important;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 16px; /* 適宜調整 */
  padding: 5px 10px; /* 適宜調整 */
}

/* debug */

.debug_dump {
  color: black;
  font-size: 20px;
  clear: both;
  float: left;
  width: 100%;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
