.btn-extra-large {
  font-size: 24px; /* フォントサイズを大きくする */
  padding: 15px 30px; /* 上下のパディングを15px、左右のパディングを30pxに設定 */
  margin: 20px 20px;
  transition: transform 0.3s; /* ホバー時のアニメーションを設定 */

  &:hover {
    transform: scale(1.1); /* ホバー時にボタンを拡大 */
  }
}

.btn-large{
  font-size: 18px; /* フォントサイズを大きくする */
  padding: 10px 20px; /* 上下のパディングを15px、左右のパディングを30pxに設定 */
  margin: 20px 20px;
  transition: transform 0.3s; /* ホバー時のアニメーションを設定 */

  &:hover {
    transform: scale(1.1); /* ホバー時にボタンを拡大 */
  }
}